<p id="notice"><%= notice %></p>
<div class="center", "body">

<p>
  <strong></strong>
  <%= image_tag @item.image.page_view.url %>
</p>

<p>
  <strong></strong>
  <%= @item.name %>
</p>
 
<p>
  <strong></strong>
  <%= @item.description %>
</p>

<p>
  <strong>Seller</strong>
  <%= @item.user_id %>
<%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span><%= number_to_currency(@item.price) %></span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="<%= @description %>"
          data-amount="<%= @item.price * 100 %>"
          data-email="<%= current_user.email %>"
          data-bitcoin="true"
          data-locale="auto"></script>
<% end %>

<%= link_to 'Edit', edit_item_path(@item) %>
<%= link_to 'Back', items_path %>